/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  #root {
    /* padding:x; */
    background-color: #pink; 
  }


  html {
    height: '100%',
    margin: 0, 
},
body {
    height: '100%',
    margin: 0, 
    overflow: 'hidden', 
},
'#root': {
    height: '100%',  
}