/* Reset margin and padding for the entire document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Ensure that body and html take up full height */
  root {
    height: 100%;
    width: 100%;
    color:purple
  }
  